{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link rel="stylesheet" href="{% static 'pageitem/css/pageitem.css'%}">
    <script src="{% static 'pageitem/js/scripts.js'%"></script>
</head>
<body>
    <header>
         <button id="allcart"><img class="cart"  src="{% static 'pageitem/img/Cart.png'%}"></button>
    </header>
    <section class="box">
        <div class="card">
            <img src="{% static 'pageitem/img/Note.jpg'%}" alt="Notebook" style="width:100%">
            <p class="itemname" href="#">Honor Laptop</p>
            <p class="price">$799.99</p>
            <p>Was presented in 2021 as a most powerful laptop of the year</p>
            <button><<img class="cart" src="{% static 'pageitem/img/Cart.png'%}"></button>
        </div>
        <div class="card">
            <img src="{% static 'pageitem/img/Note.jpg'%}" alt="Notebook" style="width:100%">
            <p class="itemname" href="#">Honor Laptop</p>
            <p class="price">$799.99</p>
            <p>Was presented in 2021 as a most powerful laptop of the year</p>
            <button><<img class="cart" src="{% static 'pageitem/img/Cart.png'%}"></button>
        </div>
        <div class="card">
            <img src="{% static 'pageitem/img/Note.jpg'%}" alt="Notebook" style="width:100%">
            <p class="itemname" href="#">Honor Laptop</p>
            <p class="price">$799.99</p>
            <p>Was presented in 2021 as a most powerful laptop of the year</p>
            <button><<img class="cart" src="{% static 'pageitem/img/Cart.png'%}"></button>
        </div>
    </section>
</body>
</html>