body{
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: #1F252E;
}


header {
height: 100px;
display: flex;

}

.itemname{
text-decoration: none;
color: #FFF;
font-size: 25px;


}
.card-pic {
 height: 50%;
 width: 100%;
 margin-bottom: 5%;
}

.item-pic {
    padding-top: 2%;
    width: auto;
    height: 100%;
    max-width: 350px;
    max-height: 350px;

}
.textinfo {
    height: 15%;
}

.box {
    padding-top: 150px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 7.5%;
    height: 100%;
}

.card {
  position: relative;
  display: block;
  text-align: center;
  height: 80%;
  max-height: 410px;
  width: 90%;
  margin: auto;
}

.price {
  color: grey;
  font-size: 25px;
}

.card button {
  border: none;
  padding: 10px;
  color: white;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: opacity 0.15s;

}

.card button:hover {
  opacity: 0.7;

}
.cart {
    height: 35px;
}

#allcart {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    margin-top: 1%;
    margin-bottom: 1%;

}
#allcart:hover {
}

