{% load static %}
<!DOCTYPE html>
<html lang="ru ">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сука ебаный магазин заебал</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'pagelovers/css/pagelovers.css'%}">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="nav">
				<a href="#" class="btn">
					<img src="{% static 'main/img/tiles1_hd.svg' %}" alt="logo">
					<p class="catalog">
						Каталог
					</p>
				</a>
				<div class="search">
					<p>
						Искать товары
					</p>
				</div>
				<ul class="menu">
					<li>
						<a href="#">
							<img src="{% static 'main/img/tiles2_hd.svg' %}">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{% static 'main/img/tiles3_hd.svg' %} ">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{% static 'main/img/tiles4_hd.svg' %}">
						</a>
					</li>
					<li>
						<a href="http://127.0.0.1:8000/lovers" class="basket">
							<img src="{% static 'main/img/tiles4_hd.svg' %}">
						</a>
					</li>
				</ul>
				<div class="phone">
					<img src="{% static 'main/img/tiles5_hd.svg'%}">
					<a class="tel" href="#">
						+8 (999) 30-694-05
					</a>
				</div>
			</div>
		</div>
	</header>
	<ul class="cart">Корзина</ul>
	<div class="block">
		<div class="tovar-white"><a class="link-block-15 w-inline-block" href="#">
					<img alt="" class="img-2" loading="lazy" src="{% static 'pagelovers/img/apple.jp' %}" />
						<div class="ratting"><img alt="" class="star" loading="lazy" src="images/star-oll.svg">
						<img alt="" class="star" loading="lazy" src="images/star-oll.svg">
							<img alt="" class="star" loading="lazy" src="images/star-oll.svg">
						<img alt="" class="star last" loading="lazy" src="images/star-oll.svg"></div>
					</a>
					<div class="otz"><a class="link" href="#">7 отзывов</a></div>
					<div class="title">Apple Watch 7</div>


			<div class="product__price"><span class="product__price-number">95 450</span> ₽</div>



					<div class="w-form">
						<form data-name="Email Form" id="email-form" method="post" action="mail.php" name="email-form">



							<div class="product__size div-block-20-copy">
							<div class="product__size-element radio-button w radio" data-sb-curent-price="95450" data-sb-curent-size="38" data-sb-curent-id-or-vendor-code="038">38 мм</div>
							<div class="product__size-element radio-button w radio" data-sb-curent-price="105450" data-sb-curent-size="42" data-sb-curent-id-or-vendor-code="042">42 мм</div>
							</div>



							<div class="product__quantity"></div>

						</form>
						</div><a class="button-shop"
								data-sb-id-or-vendor-code="038"
  								data-sb-product-name="Apple Watch 7"
							  	data-sb-product-price="95450"
								data-sb-product-quantity="1"
								>Сделать покупку</a>
					</div>
	</div>





	<!-- <div>
		<h1><span style="color: blue;">Пункт</span>1</h1>
		<h2>Пункт 2</h2>
		<h3>Пункт 3</h3>
		<h4>Пункт 4</h4>
		<h5>Пункт 5</h5>
		<h6>Пункт 6</h6>
	</div>
	<body text="#F00000" bgcolor="gray">
	<p1>апар</p1>
	<p>Сайт блин</p>
	<a href="https://vk.com/0negin" target="_blank">Пидр</a>
	<img src="img/tiles1_hd.svg" alt="">
	<ul>
		<li>Пункт 1</li>
		<li>Пункт 2</li>
		<li>Пункт 3</li>
	</ul>
	<p>
		Вау какая красота
	</p>.
 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<link rel="stylesheet" href="{% static 'pagelovers/smartbasket/css/smartbasket.min.css'%}">

<div class="smart-basket__wrapper"></div>

<script src="{% static './pagelovers/smartbasket/js/smartbasket.min.js'%}"></script>

	<script>
		$(function () {
			$('.smart-basket__wrapper').smbasket({
				productElement: 'block',
				buttonAddToBasket: 'button-shop',
				productPrice: 'product__price-number',
				productSize: 'product__size-element',

				productQuantityWrapper: 'product__quantity',
				smartBasketMinArea: 'класс корзины',
				countryCode: '+7',
				smartBasketCurrency: '₽',
				smartBasketMinIconPath: './smartbasket/img/shopping-basket-wight.svg',

				agreement: {
					isRequired: true,
					isChecked: true,
					isLink: 'https://artstranger.ru/privacy.html',
				},
				nameIsRequired: false,
			});
		});
	</script>

</body>
</html>