body{
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: #1F252E;
}

.template-section{
    padding-top: 203px;
    padding-bottom: 217px;
    background-color: #2C313A;
}

.full-height{
    width: 480px;
    margin: 0 auto;
}

.container{
    height: 480px;
    background: #20242A;
    border-radius: 14px;
}

.container-top-reg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    height: 38px;
}

.container-top-reg p{
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    font-size: 20px;
}

.container-first-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    height: 47px;
}

.container-second-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    height: 47px;
}

input[type="text"]{
    background-color: #20242A;
    color: #FFF;
    box-sizing: border-box;
    border: 1px solid #FFF;
    width: 365px;
    height: 47px;
    padding-left: 15px;
    font-size: 15px;
	background-color: #20242A;
}

.container-email{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    height: 47px;
}

input[type="email"]{
    background-color: #20242A;
    color: #FFF;
    box-sizing: border-box;
    border: 1px solid #FFF;
    width: 365px;
    height: 47px;
    padding-left: 15px;
    font-size: 15px;
	background-color: #20242A;
}

.container-first-password{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    height: 47px;
}

.container-second-password{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    height: 47px;
}

input[type="password"] {
    background-color: #20242A;
    color: #FFF;
    box-sizing: border-box;
    border: 1px solid #FFF;
    width: 365px;
    height: 47px;
    padding-left: 15px;
    font-size: 15px;
	background-color: #20242A;
}

.container-bottom-done{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 47px;
}

.text-bottom-done{
    color: #FFF;
    box-sizing: border-box;
    border: 1px solid #FFF;
    width: 134px;
    height: 43px;
    font-size: 15px;
	background: #20242A;
    border-radius: 2px;
}

.container-have-account{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
}

.have-account{
    font-size: 12px;
    color: #A7A7A7;
}

.container-have-account a{
    text-decoration:none;
}




input[type="text"]:hover{
    border-color: #17D5FF;
    transition: 0.4s linear;
}

input[type="password"]:hover{
    border-color: #17D5FF;
    transition: 0.4s linear;
}

input[type="email"]:hover{
    border-color: #17D5FF;
    transition: 0.4s linear;
}

input[class="text-bottom-done"]:hover{
    color: #17D5FF;
    border-color: #17D5FF;
    transition: 0.4s linear;
}

a [class="have-account"]:hover{
    color: #FFF;
    transition: 0.4s linear;
}