body{
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: #1F252E;
}

ul, li{
	display: block;
}



.container{
	width: 1170px;
	margin: 0 auto;
	padding-top: 5%;
}

.nav{
	display: flex;
	align-items: center;
	height: 46px;
}
















.block{
	width: 1170px;
	height: 564px;
	margin-top: 33px;
	display: flex;
}

.img_left{
	width: 800px;
	height: 564px;
	margin-right: 44px;
}

.right_top{
	width: 326px;
	height: 256px;
	margin-bottom: 52px;
}

.right_bottom{
	width: 326px;
	height: 256px;
}

.img_left_center:hover img{
	transform: scale(1.01);
	transition: 0.6s;
}

.img_right_top:hover img{
	transform: scale(1.02);
	transition: 0.6s;
}

.img_right_bottom:hover img{
	transform: scale(1.02);
	transition: 0.6s;
}




.section{
    height: 3000px;
}

.containers{
    height: 2000px;
}

.first-block{
	width: 1170px;
	height: 900px;
	margin: 0 auto;
}

.first-block img{
    width: 270px;
    height: 401px;
    padding-right: 30px;
}

.sales-hits-top{
    height: 401px;
    display: flex;
    padding-bottom:25px;
}

.sales-hits-bottom{
    height: 401px;
    display: flex;
}

.second-block{
	width: 1170px;
	height: 900px;
	margin: 0 auto;
}

.second-block img{
    width: 270px;
    height: 401px;
    padding-right: 30px;
}

.new-top{
    height: 401px;
    display: flex;
    padding-bottom:25px;
}

.new-bottom{
    height: 401px;
    display: flex;
}

