body{
	padding: 0;
	margin: 0;
	color: #FFF;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: #1F252E;
}


header {
width: 100%;
height: 100px;
display: flex;


}

.itemname{
text-decoration: none;
color: #FFF;
font-size: 25px;


}

.box {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.card {
    position: relative;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
  margin: 2% 2% 2% 2%;
}
.card:hover {
}

.price {
  color: #d63232;
  font-size: 22px;
}

.card button {
border-color:black;
  padding: 12px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: opacity 0.15s;

}
.product__quantity{
background-color: white;
border: none;
}
.product__quantity:hover{

 box-sizing: border-box;
 display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #e2e2e2;
    background: 1 1;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    outline: 0;
    box-sizing: border-box;

}
.card button:hover {
  opacity: 0.7;

}
.cart {
    height: 35px;
}

#allcart {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    margin-top: 1%;
    margin-bottom: 1%;

}
#allcart:hover {
}


