{% load static %}
{% load intorange%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link rel="stylesheet" href="{% static 'pageitem/css/pageitem.css'%}">
    <script src="{% static 'pageitem/js/scripts.js'%"></script>
</head>
<body>
    <header>
        {% include 'GenericTemplate/Header_temp.html'%}
    </header>

    <section class="box">
        {% for product in category_products %}
            <i class="card">
                <div class="card-pic">
                <img class="item-pic" src="{{product.image.url}}" style="object-fit: contain;" alt="Notebook">
                 </div>
                <div class="textinfo">
                    <a class="itemname" href="{{product.get_absolute_url}}"> {{product.title}} </a>
                </div>
                <div class="textinfo">
                    <p class="price"> {{product.price}} </p>
                </div>
                <div class="textinfo">
                    <p>Was presented in 2021 as a most powerful laptop of the year</p>
                </div>
                <div class="textinfo">
                    <button><<img class="cart" src="{% static 'pageitem/img/Cart.png'%}"></button>
                </div>
            </i>
        {%endfor%}
    </section>

</body>
</html>