{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сука ебаный магазин заебал</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'main/css/main.css'%}">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="nav">
				<a href="#" class="btn">
					<img src="{% static 'main/img/tiles1_hd.svg' %}" alt="logo">
					<p class="catalog">
						Каталог
					</p>
				</a>
				<div class="search">
                    <p><input name="search-string" placeholder="Искать товары" class="text-search"></p>
                </div>
				<ul class="menu">
					<li>
						<a href="#">
							<img src="{% static 'main/img/home.svg' %}">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{% static 'main/img/tiles2_hd.svg' %}">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{% static 'main/img/tiles3_hd.svg' %} ">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{% static 'main/img/tiles4_hd.svg' %}">
						</a>
					</li>
				</ul>
				<div class="phone">
					<img src="{% static 'main/img/tiles5_hd.svg'%}">
					<a class="tel" href="#">
						+8 (999) 30-694-05
					</a>
				</div>
			</div>
			<div class="block">
				<div class="img_left_center">
					<a href="#">
						<img class="img_left" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
				</div>
				<div class="two_img_right">
					<div class="img_right_top">
						<a href="#">
							<img class="right_top" src="{% static 'main/img/space.jpg' %}">
						</a>
					</div>
					<div class="img_right_bottom">
						<a href="#">
							<img class="right_bottom" src="{% static 'main/img/space.jpg' %}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="containers">
			<div class="first-block">
				<h2> Хиты продаж </h2>
				<div class="sales-hits-top">
					<a href="#">
						<img class="sales-hits-top1" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-top2" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-top3" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-top4" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
				</div>
				<div class="sales-hits-bottom">
					<a href="#">
						<img class="sales-hits-bottom1" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-bottom2" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-bottom3" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-bottom4" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
				</div>
			</div>
			<div class="second-block">
				<h2> Новинки </h2>
				<div class="new-top">
					<a href="#">
						<img class="sales-hits-top1" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-top2" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-top3" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-top4" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
				</div>
				<div class="new-bottom">
					<a href="#">
						<img class="sales-hits-bottom1" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-bottom2" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-bottom3" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
					<a href="#">
						<img class="sales-hits-bottom4" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
				</div>
			</div>
		</div>
	</section>
	<footer>
		
	</footer>
</body>
</html>