 <div class="lower-features">
                <div class="column">Диагональ</div>
                <div class="value">{{product.diagonal}}</div>
            </div>
            <div class="lower-features">
                <div class="column">Процессор</div>
                <div class="value">Snapdragon 855</div>
            </div>
            <div class="lower-features">
                <div class="column">Встроенная память</div>
                <div class="value">Snapdragon 855</div>
            </div>
            <div class="lower-features">
                <div class="column">Процессор</div>
                <div class="value">Snapdragon 855</div>
            </div>