{% load static %}
{% load specification%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'productpage/css/product.css'%}">
</head>
<body>
    <header>
        {% include 'GenericTemplate/Header_temp.html'%}
    </header>
    <section class="main_information">

        <div class="pictures">
            <div class="main_picture">
                <img style='height: 100%; width: 100%; object-fit: contain' src='{{ product.image.url }}'>
            </div>
            <div class="picture_list">

            </div>
        </div>

        <div class="info">
            <div class="item_name">
                <h1>{{product.title}}</h1>
            </div>
            <div class="price">
                <h1>{{product.price}} р.</h1>
            </div>
            <div class="options">
                <button id="checkout">Купить</button>
                <button id="add-to-cart">В корзину</button>
            </div>

        </div>

    </section>
    <section>
        <div class="features">
            <h2 id="feature">Характеристики</h2>

                    {{product|product_spec}}
<!--                {% if product.category.slug == 'notebook'%}-->
<!--                    {% include 'notebook_specification.html'%}-->
<!--                {%else%}-->
<!--                    {% include 'smartphone_specification.html'%}-->
<!--                {% endif %}-->
        </div>
    </section>
</body>
</html>