{% load static %}
{% load intorange%}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сука ебаный магазин заебал</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'main/css/main.css'%}">
</head>
<body>
	<header>
		{% include 'GenericTemplate/Header_temp.html'%}
	</header>
	<section>
		<div class="container">
			<div class="nav">


			</div>
			<div class="block">
				<div class="img_left_center">
					<a href="{{products.0.get_absolute_url}}">
						<img class="img_left" src="{{products.0.image.url}}">
					</a>
				</div>
				<div class="two_img_right">
					<div class="img_right_top">
						<a href="{{products.1.get_absolute_url}}">
							<img class="right_top" src="{{products.1.image.url}}">
						</a>
					</div>
					<div class="img_right_bottom">
						<a href="{{products.2.get_absolute_url}}">
							<img class="right_bottom" src="{{products.2.image.url}}">
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="containers">
			<div class="first-block">
				<h2> Хиты продаж </h2>
				<div class="sales-hits-top">
<!--					Сука фильтр НЕ трогать !!!-->
					{% for i in products|range:"3,7"%}
					<a href="{{i.get_absolute_url}}">
						<img class="sales-hits-top1" src="{{i.image.url}}">
					</a>
					{% endfor %}
				</div>
				<div class="sales-hits-bottom">
<!--					Сука фильтр НЕ трогать !!!-->
					{% for i in products|range:"7,11"%}
					<a href="{{i.get_absolute_url}}">
						<img class="sales-hits-top1" src="{{i.image.url}}">
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="second-block">
				<h2> Новинки </h2>
				<div class="new-top">
<!--					Сука фильтр НЕ трогать !!!&ndash;&gt;-->
					{% for i in products|range:"3,7"%}
					<a href="{{i.get_absolute_url}}">
						<img class="sales-hits-top1" src="{{i.image.url}}">
					</a>
					{% endfor %}
				</div>
				<div class="new-bottom">
<!--					Сука фильтр НЕ трогать !!!&ndash;&gt;-->
					{% for i in products|range:"7,11"%}
					<a href="{{i.get_absolute_url}}">
						<img class="sales-hits-top1" src="{{i.image.url}}">
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<footer>
		
	</footer>
</body>
</html>