{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сука ебаный магазин заебал</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'main/css/main.css'%}">
</head>
<body>
	<header class="header"> 
		<div class="container">
			<div class="nav">
				<a href="#" class="btn">
					<img src="{% static 'main/img/tiles1_hd.svg' %}" alt="logo">
					<p class="catalog">
						Каталог
					</p>
				</a>
				<div class="search">	
					<p>
						Искать товары
					</p>			
				</div>
				<ul class="menu">
					<li>
						<a href="#">
							<img src="{% static 'main/img/tiles2_hd.svg' %}">
						</a>
					</li>
					<li>	
						<a href="#">
							<img src="{% static 'main/img/tiles3_hd.svg' %} ">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="{% static 'main/img/tiles4_hd.svg' %}">
						</a>
					</li>
				</ul>
				<div class="phone">
					<img src="{% static 'main/img/tiles5_hd.svg'%}">
					<a class="tel" href="#">
						+8 (999) 30-694-05
					</a>
				</div>
			</div>
			<div class="block">
				<div class="img_left_center">
					<a href="#">
						<img class="img_left" src="{% static 'main/img/genshin_raiden.jpg' %}">
					</a>
				</div>
				<div class="two_img_right">
					<div class="img_right_top">
						<a href="#">
							<img class="right_top" src="{% static 'main/img/space.jpg' %}">
						</a>
					</div>
					<div class="img_right_bottom">
						<a href="#">
							<img class="right_bottom" src="{% static 'main/img/space.jpg' %}">
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="containers">
			<div class="first_block">
				<h2> Хиты продаж </h2>
				<div class="first_slaider">
					
					
				</div>
			</div>
		</div>

	</section>
	<footer>
		
	</footer>
	<!-- <div>
		<h1><span style="color: blue;">Пункт</span>1</h1>
		<h2>Пункт 2</h2>
		<h3>Пункт 3</h3>
		<h4>Пункт 4</h4>
		<h5>Пункт 5</h5>
		<h6>Пункт 6</h6>
	</div>
	<body text="#F00000" bgcolor="gray">
	<p1>апар</p1>
	<p>Сайт блин</p>
	<a href="https://vk.com/0negin" target="_blank">Пидр</a>
	<img src="img/tiles1_hd.svg" alt="">
	<ul>
		<li>Пункт 1</li>
		<li>Пункт 2</li>
		<li>Пункт 3</li>
	</ul>
	<p>
		Вау какая красота
	</p>.
 -->
</body>
</html>